In [7]:
 import pandas as pd

# read Excel file
df = pd.read_excel("data/raw_data.xlsx")

# show data
df

  Employee  Tasks Completed  Errors  Hours Worked
0      Ani               45       2             8
1    Rahul               38       5             8
2    Priya               50       1             9
3     John               29       7             7
4     Sara               41       3             8

In [8]:
import pandas as pd

# Step 1: Read Excel file
df = pd.read_excel("data/raw_data.xlsx")

# Step 2: Create productivity column
df["Productivity"] = df["Tasks Completed"] / df["Hours Worked"]

# Step 3: Create error rate column
df["Error Rate"] = df["Errors"] / df["Tasks Completed"]

# Step 4: Identify low performers (Productivity < 5)
df["Low Performer"] = df["Productivity"] < 5

# Show result
df

,Employee,Tasks Completed,Errors,Hours Worked,Productivity,Error Rate,Low Performer
0,Ani,45,2,8,5.625000,0.044444,False
1,Rahul,38,5,8,4.750000,0.131579,True
2,Priya,50,1,9,5.555556,0.020000,False
3,John,29,7,7,4.142857,0.241379,True
4,Sara,41,3,8,5.125000,0.073171,False

In [9]:
# Export cleaned and automated report
output_path = "data/processed_report.xlsx"

df.to_excel(output_path, index=False)

print("Report generated successfully:", output_path)

Report generated successfully: data/processed_report.xlsx

In [10]:
# Calculate summary metrics
total_tasks = df["Tasks Completed"].sum()
avg_productivity = df["Productivity"].mean()
avg_error_rate = df["Error Rate"].mean()
low_performers_count = df["Low Performer"].sum()

# Create summary dataframe
summary = pd.DataFrame({
    "Metric": [
        "Total Tasks Completed",
        "Average Productivity",
        "Average Error Rate",
        "Low Performers Count"
    ],
    "Value": [
        total_tasks,
        avg_productivity,
        avg_error_rate,
        low_performers_count
    ]
})

summary

                  Metric       Value
0  Total Tasks Completed  203.000000
1   Average Productivity    5.039683
2     Average Error Rate    0.102115
3   Low Performers Count    2.000000

In [12]:
# Export both detailed report and summary into same Excel file

with pd.ExcelWriter("data/final_report.xlsx") as writer:
    df.to_excel(writer, sheet_name="Detailed Report", index=False)
    summary.to_excel(writer, sheet_name="Summary", index=False)

print("Final report generated successfully")

Final report generated successfully